<h1>
  本を登録する
</h1>

<!-- ISBN registration -->
<hr>
<h2>
  ISBNを入力する
</h2>
<%= render 'form', book: @book %>

<hr>
<h2>
  ISBNをスキャンする
</h2>
<p>
  EANコードをカメラで読み込むと、自動で登録されます。
</p>
<div id="interactive" class="viewport">
    <video autoplay="true" preload="auto"></video>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js" charset="utf-8"></script>

<script type="text/javascript">
  Quagga.init({
    inputStream : {
      name : "Live",
      type : "LiveStream",
    },
    decoder : {
      readers : ["ean_reader"]
    }
  }, function(err) {
      if (err) {
          console.log(err);
          return
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
  });
  Quagga.onDetected((data) => {
    Quagga.stop();
    document.getElementById("isbn-input").value=data.codeResult.code;
    document.getElementById('isbn-submit').click();
  });

</script>

<style media="screen">
  #interactive {
    overflow: hidden;
    width: 100%;
    height: 240px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
  }
  #interactive video,
  #interactive canvas {
    width: 100%;
    height: 240px;
  }
  </style>
